@charset "UTF-8";
/*

Name: Time Traveller Helpline
URI: timetravelerhelpline.com
Description: This site was developed by Weston Digital Media. Copyright 2025.  Or 3125.  Or 10191.  Or perhaps 1955.  Dealer's choice, really.
Author: Chris Weston

*/

/**************************************************


General Page Rules


**************************************************/

html {
    font-size: 16px;
}

body {
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
a {
}

h1,
.h1 {
}

h2,
.h2 {
}

h3,
.h3 {
}

h4,
.h4 {
}

p,
ul,
ol,
li,
a {
}

/**************************************************


Class Rules


**************************************************/
